footer {
  padding: 24px 46px 31px 46px;

  .icon-group {
    // border: 1px solid green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    i {
      font-size: 16px;
      line-height: 28px;
      // border: 1px solid red;
    }
  }
}

@media (min-width: $desktop-min-width) {
  footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    padding-top: 36px;
    padding-left: 100px;
    padding-right: 100px;

    .icon-group {
      gap: 36px;
    }
  }
}
