#from {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 30px;

  .container {
    position: relative;
    top: -116px;
    margin-bottom: calc(-116px);

  }

  img {
    width: 100%;
  }

  .section-title {
    margin-bottom: 8px;
  }
}

@media (min-width: $desktop-min-width) {
  #from {
    padding-left: 200px;
    padding-right: 200px;
   
    .section-title {
      margin-bottom: 24px;
    }

  }
}


@media (min-width: $desktop-min-width-xl) {
  #from {
    .container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      gap: 62.4px;
    }
  
    .img-container {
      flex: 1 1 457.6px;
    }
  
    .title-container {
      flex: 1 1 468px;
    }

  }
}