header {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 44px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 44px;
  background: $color-light;
  padding-left: 16px;
  padding-bottom: 11px;
  padding-top: 11px;
  z-index: 5;

  .logo {
    height: 24px;
    width: 24px;
  }
}

.menu-toggle {
  display: inline-block;
  position: absolute;
  top: 16px;
  right: 19px;
  user-select: none;

  a {
    text-decoration: none;
    color: $color-light;

    transition: color 0.3s ease;

    &:hover {
      color: $color-secondary;
      text-decoration: line-through;
      font-weight: 500;
    }

    &:active {
      color: rgb(6, 10, 36);
      color: rgba(6, 10, 36, 0.56);
      text-decoration: line-through;
    }
  }

  input {
    display: block;
    width: 30px;
    height: 21px;
    position: absolute;
    left: -6px;

    cursor: pointer;

    opacity: 0;
    z-index: 20;
  }

  span {
    display: block;
    width: 18px;
    height: 2px;
    margin-bottom: 3px;
    position: relative;

    background: $color-dark;
    border-radius: 3px;

    z-index: 10;

    transform-origin: 4px 0; //12px 0px
    transform-origin: 12px 0;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  span:first-child {
    transform-origin: 0 0;
  }

  span:nth-last-child(2) {
    transform-origin: 0 100%;
  }

  input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(6.5px, 3px);
  }

  input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(4px, 4px);
  }

  input:checked ~ ul {
    transform: none;
  }
}

.menu {
  position: fixed;
  width: 100vw;
  padding: 16px 0 0 16px;
  margin-top: 44px; //4

  top: 0;
  left: 0;
  background: $color-primary;
  list-style-type: none;

  transform-origin: 0 0;
  transform: translate(0, -100%);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  color: $color-light;

  li {
    margin: 24px 0;
    font-family: 'IBM Plex Mono', monospace;
    line-height: 28px;
    font-size: 16px;
    font-weight: 400;
  }

  li:first-child {
    margin-top: 0;
  }
}

.menu-desktop {
  display: none;
}

@media (min-width: $desktop-min-width) {
  .menu-toggle {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: 100px;
    padding-right: 100px;

    .logo {
      height: 36px;
      width: 36px;
    }
  }

  .menu-desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 48px;

    list-style: none;

    li {
      font-family: 'IBM Plex Mono', monospace;
      line-height: 28px;
      font-size: 16px;
      font-weight: 400;
    }

    a {
      text-decoration: none;
      color: $color-dark;

      transition: color 0.3s ease;

      &:hover {
        color: $color-secondary;
        text-decoration: line-through;
        font-weight: 500;
      }

      &:active {
        color: rgb(6, 10, 36);
        color: rgba(6, 10, 36, 0.56);
        text-decoration: line-through;
      }
    }
  }
}
