#introduction {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-top: 73px;

  .section-title {
    margin-bottom: 16px;
  }

  p {
    margin-bottom: 36px;
    max-width: 628px;
  }
}

@media (min-width: $desktop-min-width) {
  #introduction {
    padding-top: 200px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 5px;

    br {
      display: none;
    }

    .section-title {
      font-size: 64px;
    }

    .btn {
      width: 226px;
      height: 56px;
    }
    
  }
}
