$color-primary: #0000ec;
$color-primary-dark: #0000a3;
$color-secondary: #00f3bb;
$color-light: #ffffff;
$color-dark: #060a24;
$color-dark-transparent: #060a24 56%;

$desktop-min-width: 768px;
$desktop-min-width-lg: 992px;
$desktop-min-width-xl: 1200px;
